* {
  box-sizing: border-box;
}
body {
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
}
main {
  width: 100%;
  margin-top: 1rem;
  height: 700px;
  overflow: visible;
  position: relative;
  background-color: #fff;
  width: 100%;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.2);
  padding: 1em;
}
main section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
main section.flex-column {
  flex-direction: column;
  align-items: initial;
}
main section.display-block {
  display: block;
}
.transition-all {
  transition: all 1.5s cubic-bezier(0.29, 1.08, 1, 1);
}
#default-example {
  background: linear-gradient(skyblue, khaki);
  position: relative;
}
#laptop-lid {
  /* for mobile */
  /* width: 365px;
  height: 265px; */
  width: 400px;
  height: 300px;
  transform-style: preserve-3d;
  transform-origin: bottom;
}
.face {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  font-size: 60px;
  color: #fff;
}
.lid-front {
  background: rgb(209, 209, 209);
  transform: translateZ(2px);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}
.lid-screen {
  width: 95%;
  height: 95%;
  border-radius: 2px;
  background: black;
}
.lid-back {
  background: rgb(163, 163, 163);
  transform: rotateY(180deg) translateZ(2px);
  border-radius: 4px;
  backface-visibility: visible;
}
.lid-top {
  background: rgb(163, 163, 163);
  transform: rotateX(-90deg) translateZ(2px);
  height: 4px;
  border-radius: 4px;
}
.lid-bottom {
  background: rgb(209, 209, 209);
  transform: rotateX(90deg) translateZ(2px);
  height: 4px;
  border-radius: 4px;
}
.lid-left {
  background: rgb(163, 163, 163);
  transform: rotateY(-90deg) translateZ(2px);
  width: 4px;
  left: 0;
  border-radius: 4px;
}
.lid-right {
  background: rgb(163, 163, 163);
  transform: rotateY(90deg) translateZ(2px);
  right: 0px;
  width: 4px;
  border-radius: 4px;
}

.toggle-rotate {
  transform: rotate3d(1, 0, 0, 45deg);
}
.laptop-bottom {
  /* only works in firefox and chrome */
  /* background: rgb(163, 163, 163);
  height: 12px;
  border-radius: 1px 1px 4px 4px;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 0%) translateZ(50px);
  left: 50%;
  width: 538px; */

  /* works on safari and firefox */
  background: rgb(163, 163, 163);
  height: 12px;
  border-radius: 1px 1px 4px 4px;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -277%) translateZ(281px);
  left: 50%;
  width: 410px;
}

#laptop-base {
  width: 400px;
  height: 12px;
  transform-style: preserve-3d;
  transform-origin: center;
}

.base-front {
  background: rgb(209, 209, 209);
  transform: translateZ(150px);
  border-radius: 1px 1px 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.base-screen {
  width: 95%;
  height: 95%;
  border-radius: 2px;
  background: black;
}
.base-back {
  background: rgb(163, 163, 163);
  transform: rotateY(180deg) translateZ(150px);
  border-radius: 4px;
}
.base-top {
  background: rgb(163, 163, 163);
  transform: rotateX(-90deg) translateZ(150px);
  height: 4px;
  border-radius: 4px;
}
.base-bottom {
  background: rgb(209, 209, 209);
  transform: rotateX(90deg) translateZ(150px);
  height: 4px;
  border-radius: 4px;
}
.base-left {
  background: rgb(163, 163, 163);
  transform: rotateY(-90deg) translateZ(150px);
  width: 4px;
  left: 0;
  border-radius: 4px;
}
.base-right {
  background: rgb(163, 163, 163);
  transform: rotateY(90deg) translateZ(150px);
  right: 0px;
  width: 4px;
  border-radius: 4px;
}

.laptop {
  perspective: 2000px;
  animation: forwards 2s linear move3d;
  transform-style: preserve-3d;
  margin-top: 14rem;
}

.notch {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #333;
  width: 30px;
  height: 4px;
  border-radius: 2px 2px 4px 4px;
}

#bio-bits {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: var(--light);
  width: 100%;
  height: auto;
  font-size: 0.9rem;
}

#bio-bits p {
  /* font-size: clamp(1.13em, 50%, 1.2em); */
  font-family: "Anonymous Pro", monospace;
  width: 75%;
  text-align: center;
  margin: 0.8rem 0;
}

#bio-bits span.text-emphasis {
  color: yellow;
}

#bio-bits span.tech-stack {
  color: #00ccff;
}

@keyframes move3d {
  0% {
    transform: rotateX(-90deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}
